footer p.licensing {
    color: var(--text-accent-color);
    font-size: 60%;
}

// Syntax colors are from gruvbox-dark

.z-shell-session {
    .z-prompt {
        color: #fabd2f;
    }
    .z-shell.z-source {
        color: #b8bb26;
    }
    .z-output {
        color: #fabd2f;
    }
}

.z-filetree {
    .z-punctuation {
        &.z-separator {
            color: white;
        }
    }
    .z-entity {
        &.z-name.z-directory {
            color: #fabd2f;
        }
    }
}
