footer p.licensing {
    color: var(--text-accent-color);
    font-size: 60%;
}

// Syntax colors are from gruvbox-dark

.z-shell-session {
    .z-prompt {
        color: #fabd2f;
    }
    .z-shell.z-source {
        color: #b8bb26;
    }
    .z-output {
        color: #fabd2f;
    }
}

.z-filetree {
    .z-punctuation {
        &.z-separator {
            color: white;
        }
    }
    .z-entity {
        &.z-name.z-directory {
            color: #fabd2f;
        }
    }
}

ol.tab-container {
    list-style-type: none;
    margin: 0;
    padding: 0;

    min-height: 0.9em;

    li {
        display: inline;
        min-height: 2em;

        button {
            min-height: 100%;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;

            padding: 0 1rem;
            min-width: 5rem;
            border-bottom: .3rem solid transparent;

            &.active {
                color: var(--link-hover-color);
                border-color: var(--link-hover-color);
            }

            &:hover {
                color: var(--link-hover-color);
            }
        }
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }

    pre {
        margin-top: 0;
    }
}

textarea.code {
    font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    font-size: 0.90em;
    line-height: 130%;
    min-width: 100%;
    min-height: 100px;
    max-height: 500px;
    box-sizing: border-box;
    border:none;
    border: .3rem solid transparent;
    border-color: var(--link-hover-color);

    padding: 0.7em;

    background-color: var(--code-background);
    color: var(--code-text-color);

    &.code-output {
        max-height: none;
        border: .3rem solid transparent;
        border-color: var(--border-color);
        color: var(--code-text-color);
    }

    &::placeholder {
        opacity: 1;
    }
}
