.DS_Store
/node_modules
/public
/static/processed_images
/static/webfonts
/static/fontawesome.min.css
/static/htmx.min.js
/static/syntax-theme.css
/static/atom-grammar-to-sublime-syntax/*
!/static/atom-grammar-to-sublime-syntax/index.js
