{% macro github_facts(repository) %}
    <div hx-get="/api/github-facts?repository={{ repository | urlencode }}" hx-trigger="load" hx-swap="outerHTML"></div>
{% endmacro github_facts %}

<!-- page listing macros -->
{% macro page_info(page, with_reading_time=true) %}
    <div class="article-info">
        {% if page.date %}
        {% if with_reading_time %}
            {% set reading_time = "◦ " ~ page.reading_time ~ " " ~ trans(key="minute", lang=lang) %}
        {% else %}
            {% set reading_time = "" %}
        {% endif %}
        <div class="article-date">{{ page.date | date(format=trans(key="date_format", lang=lang)) }} {{ reading_time }} ◦ </div>
        {% endif %}
        <div class="article-taxonomies">
            {% if page.taxonomies.categories %}
                <ul class="article-categories">
                    {% for cat in page.taxonomies.categories %}
                    <li><a href="{{ get_taxonomy_url(kind="categories", name=cat, lang=lang) | safe }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
                ◦
            {% endif %}
            {% if page.taxonomies.tags %}
                <ul class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <li><a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) | safe }}">#{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% if page.extra.repo_path %}
            {{ self::github_facts(repository=page.extra.repo_path) }}
        {% endif %}
    </div>
{% endmacro page_info %}

{% macro page_listing(page, with_reading_time=true) %}
    <article class="post-list">
        <a href="{{ page.permalink | safe }}">
            <header>
                <h3>
                    {{ page.title }}
                </h3>
            </header>

            {% if page.summary %}
            <div class="content post-summary">
                {{ page.summary | markdown | safe }}
            </div>
            {% endif %}
        </a>

        {{ self::page_info(
            page=page,
            with_reading_time=with_reading_time,
        ) }}
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous | safe }}">{{ trans(key="prev_page", lang=lang) }}</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next | safe }}">{{ trans(key="next_page", lang=lang) }}</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}

<!-- project listing macros -->
{% macro project_listing(page) %}
<article class="post-list">
{#    {% if page.extra.featured_image %}
    <a href="{{ page.permalink | safe }}"><img src="{{ page.permalink }}/{{ page.extra.featured_image }}" alt="{% if page.extra.featured_image_alt %}{{ page.extra.featured_image_alt }}{% else %}{{ page.title }}{% endif %}"/></a>
    {% endif %}
#}
    <a href="{{ page.permalink | safe }}">
        <header>
            <h3>
                {{ page.title }}
            </h3>
        </header>

        {% if page.summary %}
        <div class="content post-summary">
            {{ page.summary | markdown | safe }}
        </div>
        {% endif %}
    </a>
    {{ self::project_info(page=page) }}
</article>
{% endmacro page_listing %}

{% macro project_info(page) %}
<div class="article-info">
    {% if page.date %}
    <div class="article-date">{{ page.date | date(format=trans(key="date_format", lang=lang)) }}</div>
    {% endif %}
    <div class="article-taxonomies">
        {% if page.taxonomies.categories %}
        <ul class="article-categories">
            {% for cat in page.taxonomies.categories %}
            <li><a href="{{ get_taxonomy_url(kind="categories", name=cat, lang=lang) | safe }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
        ◦
        {% endif %}
        {% if page.taxonomies.tags %}
        <ul class="article-tags">
            {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag, lang=lang) | safe }}">#{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% if page.extra.repo_path %}
        {{ self::github_facts(repository=page.extra.repo_path) }}
    {% endif %}
</div>
{% endmacro project_info %}
