@mixin theme($theme: dark) {
    --background-color: rgb(24, 24, 24);
    --header-background-color: rgb(28, 28, 28);
    --text-color: rgb(217, 217, 217);
    --text-accent-color: rgb(130, 130, 130);
    --border-color: rgb(66, 66, 66);
    --link-color: rgb(65, 136, 205);
    --link-hover-color: rgb(29, 163, 136);
    --link-hover-line-color: rgb(0, 120, 132);
    --icon-hover-color: var(--link-hover-color);
    --icon-color: var(--text-color);
    --code-text-color: rgb(51, 51, 51);
    --code-background: rgb(247, 248, 250);
    --table-header-background-color: var(--header-background-color);
    --kbd-border-color: #ccc;
    --kbd-background-color: #f4f4f4;
    --kbd-color: #333;
}

:root {
    @include theme($theme: dark);
}
