@mixin theme($theme: light) {
    --background-color: rgb(255, 255, 255);
    --header-background-color: rgb(250, 250, 250);
    --text-color: rgb(51, 51, 51);
    --text-accent-color: rgb(117, 117, 117);
    --border-color: rgb(195, 195, 195);
    --link-color: hsl(210, 69.8%, 46%);
    --link-hover-color: hsl(168, 70%, 30%);
    --link-hover-line-color: rgb(0, 120, 132);
    --icon-hover-color: var(--link-hover-color);
    --icon-color: var(--text-color);
    --code-text-color: rgb(217, 217, 217);
    --code-background: rgb(32, 32, 32);
    --table-header-background-color: var(--header-background-color);
    --kbd-border-color: #444;
    --kbd-background-color: #222;
    --kbd-color: #fff;
}

:root {
    @include theme($theme: light);
}
