{% import "macros/social.html" as social_macros %}

<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{{ config.description }}">

    {% set color_mode_css_path = config.extra.color_mode ~ ".css" %}
    <link rel="preload" href="{{ get_url(path="base.css", trailing_slash=false) }}" as="style">
    <link rel="stylesheet" href="{{ get_url(path="base.css", trailing_slash=false) }}">
    <link rel="preload" href="{{ get_url(path=color_mode_css_path, trailing_slash=false) }}" as="style">
    <link rel="stylesheet" href="{{ get_url(path=color_mode_css_path, trailing_slash=false) }}">
    <link rel="preload" href="{{ get_url(path="syntax-theme.css", trailing_slash=false) }}" as="style">
    <link rel="stylesheet" href="{{ get_url(path="syntax-theme.css", trailing_slash=false) }}">

    <link rel="preload" href="{{ get_url(path="fontawesome.min.css", trailing_slash=false) }}" as="style">
    <link rel="stylesheet" href="{{ get_url(path="fontawesome.min.css", trailing_slash=false) }}">

    <script async defer src="{{ get_url(path="htmx.min.js", trailing_slash=false) }}"></script>
    <meta name="htmx-config" content='{"allowEval":false,"allowScriptTags":false,"selfRequestsOnly":true,"includeIndicatorStyles":false}'>

    <script async defer src="{{ get_url(path="base.js", trailing_slash=false) }}"></script>

    {% set umami_website_id = get_env(name=config.extra.umami.website_id_environment_variable_name, default=false) %}
    {% if umami_website_id %}
    <script async defer src="{{ get_url(path="/u.js", trailing_slash=false)}}" data-website-id="{{ umami_website_id }}" data-do-not-track="true"></script>
    {% endif %}

    {% if config.generate_feeds -%}
    {%- for feed in config.feed_filenames -%}
    {%- if feed is containing('atom') -%}
    <link rel="alternate" type="application/atom+xml" title="{{ config.title }} Atom feed" href="{{ get_url(path=feed, trailing_slash=false, lang=lang) | safe }}">
    {%- endif -%}
    {%- if feed is containing('rss') -%}
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS feed" href="{{ get_url(path=feed, trailing_slash=false, lang=lang) | safe }}">
    {%- endif -%}
    {%- endfor -%}
    {%- endif %}

    {% block ogp_head %}
    <meta property="og:title" content="{{ config.title }}">
    <meta property="og:type" content="website">
    {% endblock ogp_head %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body hx-boost="true">
<div class="container">
    {% block header %}
    {% set base_url = get_url(path="", lang=lang) %}
    <header>
        <h1 class="site-header">
            <a href="{{ base_url | safe }}">{{ config.title }}</a>
        </h1>
        <nav>
            <ul>
            {% block nav_bar %}
            {% for subsec in config.extra.menu_items %}
                {% set link_url = subsec.url | replace(from="$BASE_URL", to=config.base_url) | replace(from="$LANG_BASE_URL", to=base_url) %}
                <li><a {% if current_url and current_url is starting_with(link_url) %}class="active"{% endif %} href="{{ link_url | safe }}">{{ trans(key=subsec.name, lang=lang) }}</a></li>
            {% endfor %}
            {% endblock nav_bar %}
            </ul>
        </nav>
    </header>
    {% endblock header %}
    {% block content %}
    {% endblock content %}
    <footer>
        <p>
            {{ social_macros::social_links(social_config=config.extra.social) }}
        </p>
        {% block footer %}
        {% endblock footer %}
    </footer>
</div>
</body>
</html>
