{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block content %}
<main id="main" class="index" tabindex="-1">
    <section id="banner">
        {% set banner = resize_image(path="/static/banner.jpg", width=672, op="fit_width") %}
        <img src="{{ banner.url }}" class="index-banner" alt="A misty forest."/>
        {% if config.extra.banner_attribution %}
            <em>{{ config.extra.banner_attribution | markdown(inline=true) | safe }}</em>
        {% endif %}
        <p>
            {{ config.description }}
        </p>
    </section>
    <section class="index-columns">
    {% for subsec in config.extra.menu_items | filter(attribute="show_recent", value=true) %}
        <section class="index-listing">
            <h2>
                {{ trans(key=subsec.recent_trans_key, lang=lang) }}
            </h2>
            {% if section.subsections is containing(subsec.name ~ "/_index." ~ lang ~ ".md") %}
                {% set subsec_path = subsec.name ~ "/_index." ~ lang ~ ".md" %}
                {% set subsec_link_path = lang ~ "/" ~ subsec.name ~ "/" %}
            {% else %}
                {% set subsec_path = subsec.name ~ "/_index.md" %}
                {% set subsec_link_path = subsec.name ~ "/" %}
            {% endif %}
            {% set subsec_section = get_section(path=subsec_path) %}
            {% set subsec_section_pages = subsec_section.pages | sort(attribute="date") | reverse %}
            {% for page in subsec_section_pages | slice(end=subsec.recent_items) %}
                {{ page_macros::page_listing(page=page) }}
            {% endfor %}
            <p class="read-more"><a href={{ subsec_link_path }}>{{ trans(key=subsec.more_trans_key, lang=lang) }} ≫</a></p>
        </section>
    {% endfor %}
    {% if config.extra.pushed_projects %}
        {% if section.subsections is containing("projects/_index." ~ lang ~ ".md") %}
            {% set projects_section_path = "projects/_index." ~ lang ~ ".md" %}
            {% set projects_section_link_path = lang ~ "/projects/" %}
        {% else %}
            {% set projects_section_path = "projects/_index.md" %}
            {% set projects_section_link_path = "projects/" %}
        {% endif %}
        {% set projects_section = get_section(path=projects_section_path) %}
        {% set projects_section_pages = projects_section.pages | group_by(attribute="slug") %}
        {% set any_project_available = false %}
        {% for project in config.extra.pushed_projects %}
            {% if project in projects_section_pages %}
                {% set_global any_project_available = true %}
                {% break %}
            {% endif %}
        {% endfor %}

        {% if any_project_available %}
        <section class="index-listing">
            <h2>
                {{ trans(key="notable_projects", lang=lang) }}
            </h2>
            {% for project in config.extra.pushed_projects %}
                {% if project in projects_section_pages %}
                    {{ page_macros::page_listing(page=projects_section_pages[project][0], with_reading_time=false) }}
                {% endif %}
            {% endfor %}
            <p class="read-more"><a href={{ projects_section_link_path }}>{{ trans(key="more_projects", lang=lang) }} ≫</a></p>
        </section>
        {% endif %}
    {% endif %}
    </section>
</main>
{% endblock content %}
